/* IMPORT: [DON'T TOUCH IT] */
@import url('https://fonts.googleapis.com/css2?family=Kufam&family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Manrope:wght@500&family=Syne&display=swap');


/*DIV: */




/*TEXT: */

h1.intro{
    font-family: 'Manrope', sans-serif;
    font-size: 220%;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;

}
h3.h3menu{
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 120%;
    text-align: center;
}
h2.intro{

}


/* BUTTONS*/
button.media{

}

/* OCHER */
