/* IMPORT: [DON'T TOUCH IT] */
@import url('https://fonts.googleapis.com/css2?family=Kufam&family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Manrope:wght@500&family=Syne&display=swap');



/* ANIMATIONS */

@keyframes load {
    0% {opacity: 0%;};
    100% {opacity: 100%;};    
}
@keyframes hvbtmenu {
    0% {font-size: 100%;};
    100% {font-size: 110%;};
}
@keyframes h1intr {
    0% {font-size: 400%;};
    100% {font-size: 420%;};
    
}
@keyframes bye {
  
    
}


/*DIV: */
    html{scroll-behavior: smooth;}

    body{
        
        background-color: #100e20;
        width: 100%;
        height: 110em;
        float: left;
        margin: 0;
        
    }
    div.start{
        
        width: 100%;
        height: 45em;
        float: left;
        background-image: linear-gradient(to bottom, #100e20, #262635);
        margin: 0;
    }
    #menubox{
        margin-top: 0.2%;
        width: 25em;
        height: 10%;
        float: right;
        background-color: none;
    }

    #intro{
        margin-top: 11em;
    }
    div.about{
        float: left;
        width: 100%;
        height: 45em;
        background-image: linear-gradient(to top, #020202, #262635);
    }
    div.end{
        border-top: 5px solid rgb(19, 19, 19);
        float: left;
        width: 100%;
        height: 29.5em;
        background-color: #000000;
    }
    div.end_lfbox{
        
        float: left;
        width: 33%;
        padding-top: 12%;
        height: 50%;
        min-height: 15em;
        min-width: 15em;
        background-color: none;
    }
    ul.info{
        background-color: none;
        margin: auto;

    }   
    li.info{
        background-color: none;
        margin: auto;
    }
    
    div.end_botbox{
        float: left;
        width: 100%;
        height: 18%;
        background-color: #000000;
    }
    div.ab_info{
        min-width: 18em;
        width: 60%;
        
        border-radius: 60px 20px 60px 20px;
        min-height: 20em;
        height: 28em;
        margin: auto;
        background-color: aliceblue;
        -webkit-border-radius: 60px 20px 60px 20px;
        -moz-border-radius: 60px 20px 60px 20px;
        -ms-border-radius: 60px 20px 60px 20px;
        -o-border-radius: 60px 20px 60px 20px;
}
    h3.h3endb{
        
        margin-left: 3%;
        font-size: 100%;
        color: rgb(255, 255, 0);
        font-family: 'Manrope', sans-serif;
        font-weight: normal;
    }
    h3.h3ends{
        
        font-size: 100%;
        margin-left: 1%;
        color: rgb(112, 110, 0);
       
        font-family: 'Manrope', sans-serif;
        font-weight: normal;
    }
    b.bend{
        color: rgb(255, 255, 0);
      
    }
    h3.h3endres{
        float: left;
        
        margin-left: 3%;
       
        font-size: 100%;
        color: rgb(255, 255, 0);
        font-family: 'Manrope', sans-serif;
        font-weight: bold;
    }
 


/*TEXT: */

h1.intro{
    cursor: grab;
    font-family: 'Nunito', sans-serif;
    font-size: 350%;
    font-weight: normal;
    color: #FFFFFF;
    text-align: center;

}
h1.intro:hover{
    animation-name: h1intr;
    animation-duration: 500ms;
    animation-delay: inherit;
    font-size: 420%;

}
h3.h3menu{
    color: rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    
    text-align: center;
}



/* BUTTONS*/
ul.ul_menu{
    
    width: 90%;
    height: 100%;
    margin-top: 0;
    list-style-type: none;

}
li.li_menu{
    width: 30%;
    height: 100%;
    float: right;
    
    
}
button.btmenu{
    margin-top: 3%;
    font-size: 100%;
    background-color: #100e20;
    color: #FFFFFF;
    font-family: 'Manrope', sans-serif;
    text-align: center;
    font-weight: bold;
    
    border: none;
    border-radius: 15px 15px 15px 15px;
    width: 100%;
    height: 90%;
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -ms-border-radius: 15px 15px 15px 15px;
    -o-border-radius: 15px 15px 15px 15px;
}
button.btmenu:hover{
    animation-name: hvbtmenu;
    animation-duration: 500ms;
    animation-delay: inherit;
    font-size: 110%;

}

/* OCHER */
hr.hrintro{
    font-family: 'Nunito', sans-serif;
    font-weight: normal;

    width: 20%;
    color: white;
    min-width: 12em;
}
li.ab_libut{
    
    min-width: 1em;
    height: 30%;
    width: 70%;
    
    margin: auto;
    background-color: #dadada;
    list-style-type: none;
}
ul.ab_ul{
    width: 25.5%;
    height: 80%;
    
    float: left;
    background-color: #aa1010;


}
div.ab_dvbut{
    width: 90%;
    margin: auto;
    height: 15%;
    
    background-color: none;

}
button.but_abH{

    background-color: rgb(95, 243, 152);
    border: none;
    border-radius:20px 20px 20px 20px;
    width: 30%;
    height: 100%;
    margin-left: 2.5%;
    float: left;

}
button.but_abH:hover{
    background-color: rgb(86, 226, 140);

}
button.but_abC{
    background-color: rgb(95, 243, 223);
    border: none;
    border-radius:20px 20px 20px 20px;
    width: 30%;
    height: 100%;
    margin-left: 2.5%;
    float: left;

}
button.but_abC:hover{
    background-color: rgb(89, 228, 209);
}
button.but_abS{
    background-color: rgb(241, 238, 48);
    width: 30%;
    border: none;
    border-radius:20px 20px 20px 20px;
    height: 100%;
    margin-left: 2.5%;
    float: left;
    -webkit-border-radius:20px 20px 20px 20px;
    -moz-border-radius:20px 20px 20px 20px;
    -ms-border-radius:20px 20px 20px 20px;
    -o-border-radius:20px 20px 20px 20px;
}
button.but_abS:hover{
    background-color: rgb(226, 223, 47);
}
h1.ab_h1but{
    
    font-size: 180%;
    font-family: 'Syne', sans-serif;
    color: rgb(255, 255, 255);
    
    
}
h3.abwebh3{
    
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
    text-align: center;
    padding-top: 1%;
    font-weight: normal;

}
h1.abwebh1{

    cursor: grab;
    font-family: 'Nunito', sans-serif;
    font-size: 220%;
    text-align: center;
    padding-top: 2%;
    font-weight: bold;

}
h2.but_ab{
    cursor: grab;
    margin: auto;
    text-align: center;
    width: 10%;
    font-size: 120%;
    color: white;
    text-decoration: none;
}
h2.but_wb{
    cursor: grab;
    padding-top: 2em;
    margin: auto;
    text-align: center;
    width: 10%;
    font-size: 120%;
    color: white;
    text-decoration: none;
}