/* IMPORT: [DON'T TOUCH IT] */
@import url('https://fonts.googleapis.com/css2?family=Kufam&family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Manrope:wght@500&family=Syne&display=swap');


/*DIV: */
    
    body{
        
        width: 100%;
        height: 900px;
        float: left;
        margin: 0;
        
    }
    div.start{
        
        width: 100%;
        height: 45em;
        float: left;
        background-image: linear-gradient(to bottom, #100e20, #262635);
        margin: 0;
    }
    #menubox{
        margin-top: 0.2%;
        width: 25em;
        height: 10%;
        float: right;
        background-color: none;
    }

    #intro{
        margin-top: 11em;
    }
 


/*TEXT: */

h1.intro{
    font-family: 'Nunito', sans-serif;
    font-size: 400%;
    font-weight: normal;
    color: #FFFFFF;
    text-align: center;

}
h3.h3menu{
    color: rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 120%;
    text-align: center;
}



/* BUTTONS*/
ul.ul_menu{
    
    width: 90%;
    height: 100%;
    margin-top: 0;
    list-style-type: none;

}
li.li_menu{
    width: 30%;
    height: 100%;
    float: right;
    
}
button.btmenu{
    margin-top: 3%;
    font-size: 100%;
    background-color: #100e20;
    color: #FFFFFF;
    font-family: 'Manrope', sans-serif;
    text-align: center;
    font-weight: bold;
    
    border: none;
    border-radius: 15px 15px 15px 15px;
    width: 100%;
    height: 90%;
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -ms-border-radius: 15px 15px 15px 15px;
    -o-border-radius: 15px 15px 15px 15px;
}

/* OCHER */
